<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Bookstore</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <header class="navbar">
        <nav class="nav">
            <ul>
                <h1>Online Bookstore</h1>
                <li><a href="/" id="home-link">Home</a></li>
                <li><a href="/books" id="books-link">All Books</a></li>
                <li><a href="/cart" id="cart-link">Shopping Cart</a></li>
                <li><a href="/profile" id="profile-link">Profile</a></li>
            </ul>
            <img id="exitIcon" src="../src/exit.png" alt="exitlogo" width="40" height="40">
        </nav>
    </header>
    <main class="main-content">
        <h2>Welcome to Our Online Bookstore!</h2>
        <p>Explore our collection of books and find your next great read.</p>
    </main>
    <footer class="footer">
        <h3>Created by Zhan Kazikhanov</p>
    </footer>
</body>
</html>
