<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        .profile-container {
            background-color: #3B945E ;
            border: 2px solid #ccc;
            padding: 20px;
            margin: 20px auto;
            max-width: 500px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .profile-container h2 {
            margin-bottom: 10px;
        }
        .profile-container ul {
            list-style-type: none;
            padding: 0;
        }
        .profile-container li {
            margin-bottom: 10px;
        }
        .btn-edit {
            background-color: #182628;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <header class="navbar">
        <nav class=".nav">
            <ul>
                <h1>Online Bookstore</h1>
                <li><a href="/" id="home-link">Home</a></li>
                <li><a href="/allbooks" id="books-link">All Books</a></li>
                <li><a href="/profile" id="profile-link">Profile</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <div class="profile-container">
            <ul id="user-details">
                <li><b>Username: </b><span id="username"></span></li>
                <li><b>Email: </b> <span id="email"></span></li>
                <li><b>Country: </b> <span id="country"></span></li>
                <li><b>Gender: </b> <span id="gender"></span></li>
            </ul>
            <button class="btn-edit" id="edit-username">Edit Username</button>
            <button class="btn-edit" id="edit-email">Edit Email</button>
            <button class="btn-edit" id="edit-country">Edit Country</button>
            <button class="btn-edit" id="edit-gender">Edit Gender</button>
        </div>
    </main>
    <footer class="footer">
        Created by Zhan Kazikhanov
    </footer>
    
    <script src="../js/profile.js"></script>
</body>
</html>
